<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".CarryUsApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarryUs"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="587e1e6dd22e364bf42b2e9be8041033" />

        <activity
            android:name=".ui.reservationlist.detail.ReservationDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.search.result.SearchResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.list.SearchListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.result.map.SearchResultMapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.review.ReviewInquiryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReviewEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>
